# latest stable releases at the time of writing
--extra-index-url https://download.pytorch.org/whl/cu124
torch
dependency_injector==4.43.0
pinecone[grpc] # pip could not install it bcause of protobuf no good version, maybe in the beginning...
langchain-openai
langchain-core
langchain-community
unstructured
markdown
# chromadb
# chromadb-client==0.5.20
# sentence transformers & utils
sentence-transformers==3.3.1
datasets
einops
# nvitop # my fav nvi monitor